/*
|--------------------------------------------------------------------------
| Font Familes
|--------------------------------------------------------------------------
*/
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@500&family=Red+Hat+Display:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&display=swap');

@font-face {
    font-family: 'Red Hat Display', sans-serif;
    src: url("@assets/fonts/red_hat_display/static/RedHatDisplay-Bold.ttf");
    font-weight: 700;
}

